.section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.element {
    display: flex;
    align-items: center;
}

.dragIcon {
    min-width: 32px;
}

.currencyIcon svg {
    display: flex;
    height: 33px;
    width: 33px;
    margin-left: 10px;
}

.container {
    display: flex;
    align-items: center;
}

.scroll {
    min-height: 80px;
    max-height: calc(100vh - 324px - 292px);
    overflow-y: scroll;
}

.scroll>li:last-child {
    margin-bottom: 0;
}

.scroll::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}
