.section {
    display: flex;
    flex-direction: column;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5%;
}

.currencyIcon svg {
    display: flex;
    height: 33px;
    width: 33px;
    margin-left: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.scroll {
    min-height: 80px;
    height: calc(100vh - 324px - 252px);
    overflow-y: auto;
    justify-content: start;
}

.scroll>li:last-child {
    margin-bottom: 0;
}

.scroll::-webkit-scrollbar {
    width: 8px;
    background: #2F2F37;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.legend {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.border {
    border: solid 1px transparent;
}

.border_red {
    border: solid 1px red;
}

.border_green {
    border: solid 1px green;
}
