.container {
    display: flex;
    margin-top: 120px;
    margin-left: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

.form {
    max-width: 480px;
}

.link {
    min-height: 64px;
    text-decoration: none;
}

.link:hover {
    color: #F2F2F3;
}

.active {
    color: #F2F2F3;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.form svg {
    cursor: pointer;
}
