.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 272px);
    column-gap: 24px;
    row-gap: 8px;
    justify-content: center;
}

.list>li {
    cursor: pointer;
}
