.header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    color: 'white';
}

.element {
    min-width: 'max-content';
    cursor: pointer;
}

.flex {
    display: flex;
}

.position__center {
    justify-self: center;
}

.position__end {
    justify-self: end;
}

.link {
    text-decoration: none;
    color: inherit
}